<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SelfCert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SelfCert.Properties.Settings>
            <setting name="InfoPurposeServerAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoPurposeClientAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoPurposeCodeSign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoPurposeEmailProtection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoPurposeOcspSigning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoSubject" serializeAs="String">
                <value>CN=localhost</value>
            </setting>
            <setting name="InfoAlgorithm" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InfoKeySize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="InfoFriendlyName" serializeAs="String">
                <value />
            </setting>
        </SelfCert.Properties.Settings>
    </userSettings>
</configuration>